@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: white;
    color: black;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

.container {
    min-height: 100%;
    min-width: 300px;
}

.greybg {
    background-color: grey;
}

.menu {
    background-color: black;
    width: 100%;
    font-size: 3rem;
    color: white;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

.menu a:hover {
    background-color: gray;
}

.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: white;
}

.menu img {
    width: 1.5%;
    height: 1.5%;
}

.menu ul {
}

.menu ul li {
    display: inline;
}

.menu ul li a {
}

.backg {
    background-image: url('../img/lolbg.jpg');
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    height: 100%;
    width: 100%;
    align-items: center;
}

.backbg img {
}
.btn {
}

.btn:hover {
}

.smallimg {
    width: 3%;
    height: 3%;
}
